$block-width: 4px;

.Block {
  position: absolute;
  background-color: black;
  height: 100%;
  overflow: visible;
  
  .middle {
    overflow: hidden;
    background-color:red;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: grab;
    .label {
      white-space: nowrap;
      position: absolute;
    }
  }


  .edge {
    width: $block-width;
    height: 100%;
    position: absolute;
    cursor: ew-resize;
    background-color: black;
    opacity: 0.85;

    &.left {
      left: -$block-width;
      background-color: green;
    }

    &.right {
      right: -$block-width;    
    }
  }
}