.Layer {
    height: 64px;
    background-color: grey;

    .layer-label {
        position: absolute;
    }

    .layer-content {
        background-color: darkblue;
        height: 64px;
        width: 100%;
        position: absolute;
        left: 128px;
    }

}