.Layer {
    height: 64px;
    background-color: grey;

    .layer-label {
        position: absolute;
    }

    .layer-content {
        height: 64px;
        position: absolute;
        left: 128px;
    }

}